@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    //margin: 0;
    //padding: 0;
}
body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-color:lightgray;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    #button{
        height:50px;
        width:100px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -5px,
                    rgba(0, 0, 0, 0.04) 0px 6px 6px 4px;
        transition: box-shadow 0.5s linear;
        outline: none;
        border-radius: 8px;
        &:hover{
            box-shadow:none;
        }
        &:active{
            transform: scale(.8);
        }
    }
    
    #container{
     height: 400px;
     width: 400px;
     background-color:#000;
     overflow: hidden;
     position: relative;
     #ball{
         height:50px;
         width:50px;
        // background-color:#fff;
         border-radius:100vw;
          
     }
    }
}